In [3]:
# Loops (for loop and while loop)

# for loops: Repeat code for each item in a collection (like a list).
# Example: For each fruit in the basket, print its name.

# while loops: Repeat code while a condition is true.
# Example: While hungry, keep eating.

In [4]:
#  FOR LOOP - Loop over a list, string or range

tokens = ["ADA", "SOL", "ETH"]

for token in tokens:
    print(token)

ADA
SOL
ETH

In [5]:
l1 = [44, 55, 66, 77]  # Iterable
for item in l1:
    print(item)

44
55
66
77

In [6]:
# Doing Addition with FOR Loop
# Type 1 Loop
total = 0

l1 = [44, 55, 66, 77]
for i in l1:
    total = total + i
    print(total)

44
99
165
242

In [7]:
#  For Average
total = 0

l1 = [44, 55, 66, 77]
for i in l1:
    total = total + i

num = len(l1)

average = total / num
print(f"The average is", average)

The average is 60.5

In [8]:
# Type 2 Loop
# Range

l2 = []

for i in range(100):
    if i % 2 == 0:  # if i divided by 2 has no remainder
        l2.append(i)

print(l2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [9]:
#  Type 3 Loop

l1 = [44, 55, 66, 77, 88]
for i in range(len(l1)):
    print(l1[i])

44
55
66
77
88

In [10]:
#  Type 4 Loop
# Using enumerate to get both index and value

crypto_prices = {'btc': 120000, 'eth': 3100, 'sol': 160}
for i in crypto_prices:
    print(i, crypto_prices[i])

btc 120000
eth 3100
sol 160

In [11]:
crypto_prices = {'btc': 120000, 'eth': 3100, 'sol': 160}
for i in crypto_prices.values():
    print(i)

120000
3100
160

In [12]:
#  WHILE LOOP - Repeat code while a condition is true
# Example: While the balance is greater than 0, keep withdrawing.

i = 10
while True:
    if i == 20:
        break
    print(i)
    i += 1  # Increment i to avoid infinite loop

10
11
12
13
14
15
16
17
18
19

In [13]:

even = []
while True:
    if i > 100:
        break
    i += 1
    if i % 2 == 0:
        even.append(i)
    print(i)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

In [1]:
# For multiplication table of 3

num1 = 3
num2 = 1

while True:
    if num2 == 11:
        break
    print(num1, 'x', num2, '=', num1 * num2)

    num2 += 1  # Increment num2 to avoid infinite loop

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
#  Continue - Skips to the next iteration

for i in range(5):
    if i == 2:  # When it gets to this condition, it skips the loop and continues to the next condition
        continue
    print(i)

0
1
3
4